body {
  padding-top: 54px;
  background: #eeeeee;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.navbar-brand img {
  width: 24px;
  -webkit-filter: drop-shadow(0px 0px 10px #000);
  filter: drop-shadow(0px 0px 10px #000);
}

body {
  overflow-x: hidden;
}

iframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #bbb;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #bbb;
}

tr:hover {
  background:rgba(0,0,0,0.1) !important;
}

.checkimg, .toggleButton {
  opacity: 0.5;
  padding: 2px;
  filter: alpha(opacity=50);
}

.checkimg:hover, .toggleButton:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.fa-times {
  color: red;
}

.fa-check {
  color: green;
}

#backbar {
  background: #ccc;
  border-radius: 0px;
  border: 2px solid #aaa;
  height: 44px;
  position: relative;
  color: white;
  width:100%;
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

#frontbar {
  background: linear-gradient(#0076ff, #004392);
  border-radius: 0px;
  height: 40px;
  position: absolute;
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

#checklist {
  text-align: center;
  background: #ccc;
  border: 2px solid #aaa;
  display: inline-block;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.checklistItem {
  width: 32px;
  height: 32px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.checklistImage {
  max-width: 32px;
  max-height: 32px;
  text-align: center;
  display: inline-block;
}


#backbar h4 {
  color: white;
  text-shadow: 1px 1px 2px #222;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  z-index: 20;
}

.navbar {
  background: linear-gradient(60deg,#0055b1,#007bff);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  border:none;
  -o-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255, 0.4);
  -icab-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255, 0.4);
  -khtml-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255, 0.4);
  -moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255, 0.4);
  -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255, 0.4);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255, 0.4);
  margin: 5px 0px 10px 5px;
}

.btn-danger {
  border:none;
  -o-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 0, 0, 0.4);
  -icab-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 0, 0, 0.4);
  -khtml-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 0, 0, 0.4);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 0, 0, 0.4);
  margin: 5px 0px 10px 5px;
}

.btn-light {
  background: #fff;
  border:none;
  -o-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  -icab-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  -khtml-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  margin: 5px 0px 10px 5px;
}

.btn-dark {
  border:none;
  -o-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  -icab-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  margin: 5px 0px 10px 5px;
}

.btn-success {
  border:none;
  -o-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 255, 0, 0.4);
  -icab-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 255, 0, 0.4);
  -khtml-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 255, 0, 0.4);
  -moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 255, 0, 0.4);
  -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 255, 0, 0.4);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 255, 0, 0.4);
  margin: 5px 0px 10px 5px;
}

.card, .card-shadow {
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  -icab-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
}

footer {
  background: #ddd;
}

.bg-info {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
}
