body {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    background: url("images/tile.png") repeat;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
  color:#eff1f4;
  font-size: 28px;
  text-transform: capitalize;
  text-shadow: -1px -1px 1px #aaa,
               0px 2px 1px rgba(0,0,0,0.5);
  text-align: center;
}


h3 {
  line-height: 0.1em;
  vertical-align: middle;
  font-size: 18px;
  color: #eff1f4;
  padding: 0cm 1cm;
  text-shadow: -1px -1px 1px #aaa,
               0px 2px 1px rgba(0,0,0,0.5);
  text-align: center;
}

.content {
    font-size: 18px;
}

nav {
    border-radius: 15px;
    background-color: #47a8e5;
    background: linear-gradient(rgba(86,86,86,1), #222)
    border: 2px solid black;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
}

nav ul li, footer ul li {
    display: inline-block;
}

footer ul li a {
    color: #999;
}

nav ul li {
    float: left;
}

img {
  vertical-align: middle;   
}

a {
    text-decoration: none;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

li.dropdown {
    display: inline-block;
}

.dropbtn, nav ul li a {
    background-color: #47a8e5;
    background: linear-gradient(rgba(0,153,255,1), rgba(0,128,213,1));
    color: white;
    text-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0 0px black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: #005289 solid;
    display: block;
}

nav ul li a {
    border-width: 0px 0px 0px 0px;
}

.dropdown-content a {
    border-width: 1px 1px 0px 1px ;
}

.dropdown-content a:last-child {
    border-width: 1px 1px 1px 1px ;
}

.dropbtn {
    border-width: 0px 0px 0px 0px;
}

nav ul:first-child {
    border-radius: 12px 0px 0px 12px;
}


.dropbtn:hover, .dropbtn:focus, nav ul li a:hover, nav ul li a:focus {
    background-color: #2f7099;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), linear-gradient(rgba(0,153,255,1), rgba(0,128,213,1));
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownDiv {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #47a8e5;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0 0px black;
    z-index: 1;
}

.dropdown-content a:last-child {
    border-radius: 0px 0px 12px 12px;
}
.dropdown-content:last-child {
    border-radius: 0px 0px 12px 12px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2f7099;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), linear-gradient(rgba(0,153,255,1), rgba(0,128,213,1));
}

.show {
    display:block;
}

ul {
    list-style-type: none;
    margin: 0;
}

.checkimg, .toggleButton {
    opacity: 0.3;  
    padding: 2px;
    filter: alpha(opacity=30);
}

#transition-hover-content {
    opacity:0;   
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
    display:inline;
}
 
#transition-hover:hover #transition-hover-content {
    opacity:1;
}

.contentDiv {
    display:inline;
}

.pipe {
  float:right;
  display:inline;
}

.equipIMG, .checkimg {
   width: auto;
   max-height: 28px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
